@font-face {
    font-family: 'Pokemon';
    src: url('./fonts/pokemon/Pokemon\ Hollow.ttf');
    font-weight: normal;
    font-style: normal;
  }
  

.pokedex{
    text-align: center;
    background-color: red;
}

.pokedex h1 {
    font-family: 'Pokemon';
    font-size: 50px;
    color: rgb(247, 207, 30);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.432);

}