.card-container { /*define a margin como zero do card-container*/
    margin: 0 auto;
}
  
.card { /* define o tamanho, borda, sombra e cor do card*/
width: 100%;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
border: 3px solid #000000;
background-color: whitesmoke !important;
}

.card-img-top { /*define tamanho da imagem*/
width: 100%;
}

.card-body { /*alinha o texto do card no meio*/
text-align: center;
}

.card-title { /*define o estilo da fonte e a margem*/
font-family: Arial, sans-serif;
margin-bottom: 0.5rem;
}

.card-text{ /*define cor do texto*/
    color: rgb(0, 0, 0);
}